<%- include('../includes/head.ejs') %>

<body>
    <div class="p-3 mb-2 bg-success text-white"></div>

    <div class="container" style="width: 50%; margin: 0 auto;">
        <div class="card mb-3" style="width: 24rem;">
            <div class="card-body">
                <h1 class="card-title"><%= article.title %></h1>

                <h6 class="card-subtitle mb-2 text-muted"><%= article.createdAt.toLocaleDateString() %></h6>

                <div class="mb-4"><%= article.content %></div>

                
                <a href="/articles/comment/<%= article.id %>" type="button" class="btn btn-primary">comment</a>

                <% article.comment.forEach(text => { %>   
                    <div class="card-body"><%= text["text"] %></div>
                <% }) %>

                <div class="pl-4"><%= article.like %></div>


                <!-- <form action="/articles/<%= article.id %>" method="POST">
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="comment" id="comment" class="form-control"><%= article.comment %></textarea>
                    </div>
                    <a href="/" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </form> -->


                <form action="/articles/<%= article.id %>" method="POST">
                    <input hidden name="like" value="<%= article.like %>" />
                    <i class="far fa-thumbs-up pl-4" type="submit"></i>
                </form>

                <a href="/" type="button" class="btn btn-info mt-4">All Articles</a>
            
                <a href="/articles/edit/<%= article.id %>" type="button" class="btn btn-warning mt-4">Edit</a>
            </div>
        </div>
    </div>

<%- include('../includes/end.ejs') %>  