<%- include('../includes/head.ejs') %>

<body>
    <div class="p-3 mb-2 bg-dark text-white"></div>

    <div class="container" style="width: 50%; margin: 0 auto;">
        <h1>Blog Articles</h1>
        <a href="/articles/newArticle" type="button" class="btn btn-outline-info mb-3">New Article</a>


        <% articles.forEach(article => { %>
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <h6 class="card-subtitle mb-2 text-muted"><%= article.createdAt.toLocaleDateString() %></h6>
                    <div class="card-text fs-6 mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.id %>" type="button" class="btn btn-outline-success">Read More</a>
                    
                    <a href="articles/edit/<%= article.id %>" type="button" class="btn btn-outline-warning">Edit</a>

                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" type="button" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

<%- include('../includes/end.ejs') %>