<%- include('../includes/head.ejs') %>

<body>
    <div class="p-3 mb-2 bg-info text-dark"></div>

    <div class="container" style="width: 50%; margin: 0 auto;">
        <h1>New Article</h1>
      
        <form action="/articles" method="POST">
            <div class="mb-2">
                <label for="title" class="form-label">Title</label>
                <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
              </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea required name="content" id="content" class="form-control"><%= article.content %></textarea>
            </div>
            <a href="/" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>

<%- include('../includes/end.ejs') %>
